p{ color: pink; }

h1{
  color: aquamarine;
  border-style: ridge;
  /*background-color: rgb(167, 112, 219);*/
  background-image: url(https://i.giphy.com/media/h3rG0zpVLblCsvNbKu/giphy.webp);
  font-family: monospace;
  font-size:40px;
  border-radius: 15px;
  border-color: coral;
}
